easyocr
pdf2image
numpy
pdf2image
matplotlib
langchain_openai
python-dotenv
PyPDF2
flask
opencv-python
tiktoken
scikit-learn
langchain
langchain-core
langchain_community
langchain_groq

